# Authentication configuration
MEXC_ACCESS_KEY=your_access_key_here
MEXC_API_SECRET=your_api_secret_here
DEEPSEEK_API_KEY=your_deepseek_api_key_here

# Google Sheets Config
GOOGLE_CREDENTIALS_PATH=credentials.json
GOOGLE_SHEET_ID=1CfF5CZ9yMcp2tqsigHRKz0lA6B_3UKfwjGVU3b1ACmk

# Server Settings
PORT=8000
