# Authentication configuration
MEXC_ACCESS_KEY=your_access_key_here
MEXC_API_SECRET=your_api_secret_here
DEEPSEEK_API_KEY=your_deepseek_api_key_here

# Google Sheets Config
GOOGLE_CREDENTIALS_PATH=credentials.json
GOOGLE_SHEET_ID=YOUR_GOOGLE_SHEET_ID_HERE

# Server Settings
PORT=8000
